<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
     <div class="header-banner"></div>
    <h1>Панель управления</h1>
    <div class="button-container">
        <button onclick="window.location.href='/add_user';">Добавить пользователя</button>
        <button onclick="window.location.href='/delete_user';">Удалить пользователя</button>
        <button onclick="window.location.href='/users';">Просмотр пользователей</button>
        <button onclick="window.location.href='/generate_report';">Формирование отчета</button>
        <button onclick="window.location.href='/logout';">Выйти</button>
    </div>
       <div class="footer-banner"></div>

</body>
</html>
